*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
}
/*for tag element selector*/

nav {
	border-bottom: 15px solid rgb(0, 30, 54);
	height: auto;
}

main {
	position: relative;
}

header {
	background-color:rgb(0, 199, 255);
	width: 100%;
	height: 30rem;
}

h1, h3, p {
	font-family: 'Didact Gothic', sans-serif;
}

ul {
	list-style-type: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	font-family: 'Didact Gothic', sans-serif;
}

footer {
	background-color: #aaa;
	color: #eee;
}

/*for class selector*/
.section-one {
	width: 100%;
	height: auto;
	background-color: #eee;
}

.area,
#mobileWebTitle {
	max-width: 1000px;
	margin: 0 auto;
	padding: 1rem;
}

.area-one {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1rem;
	display: flex;
	align-items: flex-end;
}

.menu-link {
	color: black;
}

.area-two {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}

.area-three {
	display: flex;
	flex-direction: column;
	justify-content: center; 
}

.articles-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 1rem;
}

.article-container-one {
	background-color: #fff;
	width: 18rem;
	height: 18rem;
	border-bottom: 10px solid;
	margin: 1rem;
	padding: 2rem;
}

.article-container-one:nth-child(1) {
	border-color: rgb(0, 64, 149);
}

.article-container-one:nth-child(2) {
	border-color: rgb(0, 201, 154);
}

.article-container-one:nth-child(3) {
	border-color: rgb(0, 199, 255);
}

.article-image-container {
	position: relative;
	background-color: green;
	width: 100%;
	height: 180px;
}

.article-image-container::before {
	content: " ";
    position: absolute;
    top: 0;
    left: 0;
    border-width: 30px;
    border-style: solid;
    border-color: #fff transparent transparent #fff;
}

.article-image-container::after {
	content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    border-width: 30px;
    border-style: solid;
    border-color: transparent #fff #fff transparent;
}

.area-four {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
}

.article-container-two {
	position: relative;
	background-color: rgb(0, 66, 199);
	color: #fff;
	width: 18rem;
	height: 16rem;
	margin: 1rem;
	padding: 0 1rem;
}

.article-date-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #111;
	width: 4.5rem;
	height: 4.5rem;
	position: relative;
	top: -20px;
	left: 10px;
}

.article-date-container::before {
	content: " ";
    position: absolute;
    top: 0;
    left: -20px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent rgb(0, 0, 140) rgb(0, 0, 140) transparent;
}

.date {
	font-weight: bolder;
	font-size: 2rem;
}

.article-button-container {
	margin: 1rem 0;
}

.article-button {
	display: inline-block;
	width: 10rem;
	height: 1.8rem;
	border: 1px solid #fff;
	color: #fff;
	text-align: center;
	vertical-align: center;
	line-height: 1.8rem;
}

.diagonal-rectangle {
	width: 80%;
	height: 2rem;
	background-color: #eee;
	position: absolute;
	bottom: 0;
	right: 1rem;
	transform: skewX(-45deg)
}

.diagonal-rectangle-text {
	width: 80%;
	height: 2rem;
	line-height: 2rem;
	background-color: #eee;
	color: #111;
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: right;
	font-weight: bolder;
	vertical-align: center;
	padding-right: 1rem;
}

.area-five {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	height: 4rem;
}

.footer-social-link {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	background-color: #eee;
	border-radius: 50%;
}

.footer-menu-link {
	display: block;
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center;
	margin-top: 1rem;
	background-color: #eee;
}

.text-center {
	text-align: center;
}
/*for id selector*/
#navButton {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #999;
	border-radius: 5px;
	margin: 5px 15px;
}

#menuButton,
#closeButton {
	font-size: 2rem;
}

#closeButton {
	color: tomato;
}

#companyLogo {
	position: relative;
	top: 10px;
	width: 100px;
	height: 100px;
	background-color: gray;
}

#webTitle {
	padding: 0 1rem;
	flex-grow: 1;
	font-family: 'Istok Web', sans-serif;
	text-align: center;
}

#webTitle p {
	font-family: 'Istok Web', sans-serif;
	font-size: .9rem;
	color: rgb(0, 199, 255);
}

#webTitle h2 {
	font-size: 2.4rem;
	color: rgb(0, 64, 149);
}

#navDivider {
	padding: .5rem 0;
	font-size: 4rem;
	flex-grow: 1;
	color: #aaa;
}

#menuLinks {
	flex-grow: 5;
	display: flex;
	justify-content: space-between;
	padding: .9rem 0;
}

#mobileWebTitle {
	display: none;
	color: #fff;
}

#articleTitle1 {
	color: rgb(0, 64, 149);
}

#articleTitle2 {
	color: rgb(0, 201, 154);
}

#articleTitle3 {
	color: rgb(0, 199, 255);
}

#sectionTwo {
	width: 100%;
	height: 20rem;
	background-color: rgb(0, 64, 149);
	color: #eee;
}

#contactUsLink {
	display: inline-block;
	width: 10rem;
	height: 2rem;
	border: 1px solid #fff;
	margin: 2rem auto;
	color: #fff;
	text-align: center;
	vertical-align: center;
	line-height: 2rem;
}

#companyMiniLogo {
	display: none;
	width: 70px;
	height: 70px;
	margin: 1rem auto;
	background-color: #555;
	color: white;
}

#socialLink1,
#socialLink2,
#socialLink3,
#socialLink4 {
	color: #999;
}

#footerMobileView {
	display: none;
	color: black;
}

#footerMobileView div {
	display: flex;
}

#footerMobileView a {
	color: black;
}

#privacyPolicyLink,
#termsOfUseLink {
	display: block;
	flex-grow: 1;
	background-color: #eee;
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center;
}

#privacyPolicyLink {
	margin-right: .25rem;
}

#termsOfUseLink {
	margin-left: .25rem;
}

#siteLinksTitle {
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	margin: 1rem 0 .25rem;
}

#mainCover {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
}
/*for media query*/
@media screen and (max-width: 800px) {
	nav {
		border-bottom: none;
	}

	.area-one {
		padding: 0;
		margin: 0;
		display: block;
	}

	#navButton {
		display: inline-block;
	}

	#closeButton {
		display: none;
	}

	#companyLogo {
		top: 0;
		margin: 0 auto;
		width: 200px;
		height: 50px;
		background-color: gray;
	}

	#webTitle,
	#navDivider {
		display: none;
	}

	#menuLinks {
		flex-direction: column;
		align-items: center;
		padding: 0;
		display: none;
	}

	#menuLinks li {
		width: 100%;
		height: 50px;
		text-align: center;
		line-height: 50px;
	}

	#mobileWebTitle {
		display: block;
	}

	.area-five {
		display: none;
	}

	#companyMiniLogo {
		display: block;
	}

	#footerMobileView {
		display: block;
	}
}
/*for animation*/


